
<div class="background">
<header>
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#job-client">Job Client</a></li>
      <li><a href="#employer">Employer</a></li>
      <li><a href="#contact-us">Contact Us</a></li>
    </ul>
  </nav>
</header>

<div class="profile-content">
  <h2>User Profile</h2>
  <div class="user-profile">
    <div class="user-photo">
      <!--img [src]="photoPreview || user?.photoUrl" alt="User Photo" class="image"-->
 <img [src]="photoPreview || 'assets/placeholder-image.jpg'" alt="User Photo" class="image">


      <div class="button-container">
        <button class="edit-photo-btn" (click)="editPhoto()">Edit Photo</button>
        <button class="edit-profile-btn" (click)="editProfile()">Edit Profile</button>
      </div>
    </div>
    <div class="profile-description">
      <p *ngIf="user">
        I'm {{ user?.firstName }} {{ user?.lastName }} and I'm above {{ user?.age }} years.
        You can send your emails to <span class="email">{{ user?.email }}</span>.
        I live in the state of {{ user?.state }} and country {{ user?.country }}.
        I like to {{ user?.interest }}.And please send me the newsletters.Please reach out to me on my phone number. 
      </p>
      <button class="agree-btn">I Agree</button>
    </div>
  </div>
</div>

</div>