<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Homepage</title>
    <style>
      body {
        background-image: url("assets/images/image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        height: 95vh; /* Set the height to 100% of the viewport height */
        width: 100%;
        background-size: cover;
        /* Remove background-size: cover; */
      }

      .background-image {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body class="background-image">
    <header>
      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#job-client">Job Client</a></li>
          <li><a href="#employer">Employer</a></li>
          <li><a href="#contact-us">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <div class="search-container">
      <p style="color: #fff">I'm looking for...</p>
      <input
        type="text"
        id="search-input"
        placeholder="Search job description..."
      />
      <button id="search-button"><i class="fas fa-search"></i>Search</button>
    </div>

    <div class="options-container">
      <input type="checkbox" id="full-time" />
      <label for="full-time">Full Time</label>
      <input type="checkbox" id="part-time" />
      <label for="part-time">Part Time</label>

      <select id="location">
        <option value="" disabled selected>Select your location</option>
        <option value="New York">New York</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Chicago">Chicago</option>
        <option value="Houston">Houston</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <button id="register-button" (click)="Register()">Register</button>
  </body>
</html>
